@import "./variables.scss";
//Styles that are shared between pages
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
}

p {
  font-family: $text-font;
}
