@import "./variables.scss";
//Styles that are shared between pages
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  background-color: $background-color;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
}

p,
a {
  font-family: $text-font;
}

main {
  overflow-x: hidden;
  max-width: 100%;
}

//Header Desktop Styles
header {
  width: 100%;
  height: 5em;
  padding: 1em 6vw;
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  a {
    text-decoration: none;
    color: hsl(0, 100%, 99%);
  }

  ul {
    display: flex;
    list-style-type: none;
    a {
      margin-left: 4vw;
      text-decoration: none;
      font-weight: normal;
      color: hsl(0, 0%, 70%);
      transition: color 0.1s linear;
    }
    a.currPage {
      color: hsl(0, 100%, 99%);
      font-weight: bold;
    }
    a.currPage::before {
      display: inline-block;
      position: absolute;
      content: "";
      width: 100%;
      height: 0.1em;
      background-color: hsl(0, 100%, 99%);
      animation: underlineFadeIn 0.33s cubic-bezier(0.37, 0, 0.63, 1) forwards;
    }
    @keyframes underlineFadeIn {
      0% {
        top: 170%;
        opacity: 0;
      }
      100% {
        top: 120%;
        opacity: 100%;
      }
    }
    a:hover {
      color: hsl(0, 100%, 99%);
    }
  }

  #navTitleSection {
    display: flex;
    align-items: center;
    gap: 0.5em;
    h1 {
      color: $neon-green;
      font-size: x-large;
      margin-top: 0.2em;
    }
    img {
      width: 1.75em;
    }
  }

  #navSponsorLink {
    border: 2px solid hsl(133, 97%, 38%);
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.3em 2em;
    color: white;
    transition: background-color, color ease-in-out 0.33s;
  }

  #navSponsorLink:hover {
    background-color: hsl(133, 97%, 38%);
    color: $background-color;
  }

  button {
    display: none;
  }
}

header [aria-hidden*="false"],
header navbar#dropDownNav {
  display: none;
  background-color: red;
}

//Footer Desktop Styles
footer {
  background-color: $background-color;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }

  hr {
    margin: 0 6vw;
    border: 0.1px solid hsl(0, 0%, 40%);
  }

  #footerContentContainer {
    display: flex;
    padding: 3em 0;
  }

  #footerTitleContainer {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      color: $neon-green;
    }

    a h2 {
      color: $neon-green;
      text-align: center;
    }

    img {
      aspect-ratio: 1 / 1;
      width: 6em;
    }
  }

  section {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    h2 {
      font-size: medium;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    li {
      list-style-type: none;
      a {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
        font-size: calc(1rem + 0.01vw);
        font-weight: 300;
        padding: 0.5em 0;
        color: hsl(0, 0%, 70%);
        transition: color 0.1s linear;
        img {
          width: 1.75em;
        }
      }
      a:hover {
        color: hsla(0, 100%, 99%);
      }
    }
  }

  #mobileFooterContentContainer {
    display: none;
  }

  p {
    font-family: $header-font;
    text-align: center;
    font-size: small;
    padding-bottom: 1em;
    color: hsl(0, 0%, 70%);
  }
}

@media only screen and (max-width: 768px) {
  //Moves down main for fixed navbar
  main {
    top: 5em;
  }

  //Header Mobile Styles
  header {
    overflow: visible;
    position: fixed;
    z-index: 2;

    button {
      display: flex;
      align-items: center;
      gap: 0.5em;
      border: none;
      background-color: transparent;
      padding: 0.25em;
      img {
        aspect-ratio: 1 / 1;
        width: 3em;
      }
      p {
        font-size: calc(1rem + 0.01vw);
        color: hsl(0, 0%, 70%);
      }
    }

    button[aria-expanded="true"] {
      background-color: hsla(0, 0%, 70%, 10%);
      p {
        color: hsl(0, 100%, 98%);
      }
    }

    navbar {
      display: none;
    }

    navbar#dropDownNav {
      display: inline-block;
      position: absolute;
      top: 5em;
      background-color: hsla(0, 0%, 0%, 0.886);
      z-index: 1;
      padding: 3em;
      padding-top: 0.5em;
      transform-origin: top;
      transform: scaleY(0);
      transition: transform 0.2s ease-in-out;

      ul {
        flex-direction: column;
        li {
          padding: 2em 1.5em;
          a {
            margin: 0;
            padding: 2em 1.5em;
          }
          a.currPage::before {
            display: none;
            animation: underlineFadeIn 0.33s cubic-bezier(0.37, 0, 0.63, 1)
              forwards;
          }
          @keyframes underlineFadeIn {
            0% {
              top: 120%;
              opacity: 0;
            }
            100% {
              top: 50%;
              opacity: 100%;
            }
          }
        }
      }

      ul li:after {
        content: "";
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0%;
        height: 0.1em;
        background-color: hsl(0, 2%, 35%);
      }
    }

    navbar#dropDownNav[aria-hidden*="false"] {
      transform: scaleY(1);
    }

    #navSponsorLink {
      display: none;
    }

    navbar ul li:first-child,
    navbar ul li:last-child {
      display: inline-block;
    }
  }

  //Footer Mobile Styles
  footer {
    top: 5em;
    section ul {
      flex-direction: row;
      a {
        font-size: medium;
      }
    }

    #footerContentContainer {
      display: none;
    }

    #mobileFooterContentContainer {
      display: block;
    }

    #mobileContactContainer ul {
      display: flex;
      justify-content: space-between;
      margin: 0 20vw;
      margin-top: 2em;
      align-items: center;
      li {
        margin: auto 0;
      }
    }

    #siteLinkContainer ul {
      display: flex;
      justify-content: space-between;
      margin: 2em 25vw;
      align-items: center;
      li {
        margin: auto 0;
      }
    }
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
  }
}
