main {
  background-color: rgb(23, 23, 23);
  width: 100vw;
  /* Popup content */
  /* First column */
  /* Second column */
}
main h1 {
  color: #fff;
}
main .page-setup {
  overflow: hidden;
  justify-content: center;
  padding: 3em 6vw 6em 6vw;
  max-width: 1500px;
  margin: 0 auto;
}
main .upcoming-card-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20em;
}
main .upcoming-events {
  display: flex;
  justify-content: flex-start;
  flex-wrap: unset;
  margin-top: 20px;
  align-items: start;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 40px;
}
main .upcoming-events::-webkit-scrollbar {
  display: none;
}
main .previous-events {
  display: flex;
  justify-content: flex-start;
  flex-wrap: unset;
  margin-top: 20px;
  align-items: start;
  overflow-x: auto;
  scroll-behavior: smooth;
  min-height: 15em;
}
main .previous-events .title {
  background-color: #65746b;
}
main .previous-events .tags,
main .previous-events .location {
  background-color: #929d97;
}
main .previous-events::-webkit-scrollbar {
  display: none;
}
main .event-card {
  width: 300px;
  background-color: rgb(116, 186, 143);
  border-radius: 8px;
  overflow: hidden;
  margin: 40px;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
}
main .image-container {
  position: relative;
}
main .event {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
main .time {
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.6rem 0.5rem;
  color: #fff;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: row;
  align-items: center;
  gap: 5%;
  font-size: 0.8rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: -1px;
}
main .clock {
  width: 1rem;
  height: 1rem;
}
main .date {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  white-space: nowrap;
}
main .title {
  padding: 0.4rem 0.3rem 0.3rem 0.8rem;
  font-family: "Overpass Mono", monospace;
  background-color: rgb(116, 186, 143);
}
main .title h2 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin: 0;
}
main .location {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 0.8rem 0rem 0.8rem;
  background-color: rgb(69, 139, 96);
}
main .waypoint {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}
main .location h3 {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  font-weight: lighter;
  color: #fff;
  margin: 0%;
}
main .tags {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0.3rem;
  padding-bottom: 0.1rem;
  background-color: rgb(69, 139, 96);
}
main .tags div {
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 3px 8px;
  margin: 5px;
}
main .tags p {
  margin: 0;
  font-size: 0.8em;
  color: #fff;
  font-weight: lighter;
}
main .button-img {
  width: 25px;
  height: 25px;
}
main .next-button,
main .back-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  opacity: 66%;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
main .next-button:hover,
main .back-button:hover {
  opacity: 100%;
  transition: 0.25s all ease-in-out;
}
main .next-button {
  right: 10px;
}
main .back-button {
  left: 10px;
}
main .popup {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s ease-in-out;
}
main .popup-content {
  background: linear-gradient(to right, #a6a6a6, #d9d9d9);
  display: flex;
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  height: 400px;
  justify-content: space-between;
  color: #000;
}
main .first-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
main .popup-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
main .time-hold,
main .location-hold {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
main .popup-clock,
main .popup-waypoint {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
main .popup-date,
main .popup-time,
main .popup-location {
  font-size: 20px;
  font-family: "Outfit", sans-serif;
}
main .popup-time {
  margin-left: 5px;
}
main .second-column {
  width: 55%;
  display: flex;
  flex-direction: column;
}
main .popup-title {
  margin-top: 20%;
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-family: "Overpass Mono", monospace;
}
main .popup-description {
  font-size: 16px;
  margin-top: 5%;
  font-family: "Outfit", sans-serif;
}
main .share {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  margin-top: 25%;
  display: flex;
  align-items: center;
  font-family: "Outfit", sans-serif;
}
main .share .link {
  width: 100px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  padding: 3px 10px 5px 10px;
  border: 1px solid #000;
}
main .events-navigation {
  display: none;
}
@media (max-width: 1000px) {
  main {
    /* First column */
    /* Second column */
  }
  main .page-setup {
    justify-content: center;
    padding: 10px;
  }
  main .events-navigation {
    display: flex;
    flex-direction: row;
    background-color: #3b3b3b;
    width: 100%;
    gap: 20px;
    justify-content: center;
    border-radius: 5px;
  }
  main .upcoming-title,
  main .previous-title {
    display: none;
  }
  main .back-button,
  main .next-button {
    display: none;
  }
  main .previous-events-wrapper {
    display: none;
    margin-bottom: 160px;
    height: 450px;
  }
  main .upcoming-header,
  main .previous-header {
    display: block;
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #fff;
    font-family: "Overpass Mono", monospace;
  }
  main .upcoming-header.active {
    background-color: rgb(69, 139, 96);
    color: rgb(0, 0, 0);
  }
  main .previous-header.active {
    background-color: #b2b2b2;
  }
  main .upcoming-events {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .previous-events {
    flex-wrap: wrap;
    justify-content: center;
  }
  main .event-card {
    height: 95px;
    width: 90%;
    border: 1px solid #fff;
    display: flex;
    margin: 40px 6px 0px 6px;
    background-color: rgb(69, 139, 96);
    border: 1px solid rgb(69, 139, 96);
  }
  main .title {
    background-color: rgb(69, 139, 96);
    color: #000;
    padding: 7px 7px 7px 20px;
    font-size: 0.8rem;
    margin-top: 3px;
  }
  main .event {
    width: 80px;
    height: 100%;
    border: 1px solid rgb(69, 139, 96);
    -o-object-fit: cover;
       object-fit: cover;
    flex: 1;
  }
  main .titleAndTime {
    width: 75%;
    gap: 0;
  }
  main .time {
    font-size: 0.65rem;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #000;
    letter-spacing: normal;
  }
  main .time img {
    width: 17px;
    left: 3px;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  main .previous-events .event-card {
    border: none;
    background-color: #2c2c2c !important;
    box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.6);
  }
  main .previous-events .title {
    background-color: #2c2c2c;
    color: #727272;
    margin-top: 5px;
  }
  main .previous-events .time {
    background-color: #2c2c2c;
    color: #9c9b9b;
  }
  main .previous-events .time img {
    fill: #9c9b9b;
  }
  main .previous-events .event {
    border: none;
  }
  main .popup-content {
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: 400px;
    justify-content: space-between;
    color: #000;
  }
  main .first-column {
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  main .time-hold,
  main .location-hold {
    margin-bottom: 10px;
    margin-top: 20px;
    gap: 0.5em;
    flex-direction: column;
    justify-content: center;
  }
  main .popup-clock {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }
  main .popup-waypoint {
    width: 27px;
    height: 27px;
    margin-right: 10px;
  }
  main .popup-date,
  main .popup-time,
  main .popup-location {
    font-size: 18px;
    font-family: "Outfit", sans-serif;
  }
  main .popup-time {
    margin-left: 5px;
  }
  main .popup-img {
    max-height: 40%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .second-column {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  main .popup-title {
    margin-top: 20%;
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: "Overpass Mono", monospace;
  }
  main .popup-description {
    font-size: 16px;
    margin-top: 5%;
    font-family: "Outfit", sans-serif;
  }
  main .share {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    margin-top: 25%;
    display: flex;
    align-items: center;
    font-family: "Outfit", sans-serif;
  }
  main .share .link {
    width: 100%;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    padding: 3px 10px 5px 10px;
    border: 1px solid #000;
  }
}/*# sourceMappingURL=Events.css.map */