@import "./variables.scss";

main{
    background-color: $background-color;

h1 {
    color: #FFF;
}
.page-setup {
    overflow: hidden;
    justify-content: center;
    padding: 100px;
}
.upcoming-events-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.upcoming-events {
    display: flex;
    justify-content: flex-start;
    flex-wrap:unset;
    margin-top: 20px;
    align-items: start; 
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 40px;
}
.upcoming-events::-webkit-scrollbar {
    display: none;
}
.previous-events {
    display: flex;
    justify-content: flex-start;
    flex-wrap:unset;
    margin-top: 20px;
    align-items: start; 
    overflow-x: auto;
    scroll-behavior: smooth;
}
.previous-events .title {
    background-color: #65746B;
}
.previous-events .tags, 
.previous-events .location {
    background-color: #929D97;
}

.event-card {
    width: 300px;
    background-color: $light-green;
    border-radius: 8px;
    overflow: hidden;
    margin: 40px;
    position: relative; 
    flex-shrink: 0; 
    flex-grow: 0; 
}

.image-container {
    position: relative; 
}

.event {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; 
}

.time {
    position: absolute; 
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 0.6rem 0.5rem;
    color: #FFF; 
    z-index: 1; 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    flex-direction: row; 
    align-items: center; 
    gap: 5%; 
    font-size: 0.8rem;
    font-family: $text-font;
    letter-spacing: -1px;
}

.clock {
    width: 1rem; 
    height: 1rem;
}
.date {
    display: flex;
    gap: 0.8rem;
    align-items: center; 
    white-space: nowrap; 
}
.title {
    padding: 0.4rem 0.3rem 0.3rem 0.8rem;
    font-family: $header-font;
    background-color: $light-green;
}

.title h2 {
    font-size: 1.3em;
    letter-spacing: -1px;
    margin: 0;
}

.location {
    display: flex;
    align-items:flex-start;
    padding: 0.5rem 0.8rem 0rem 0.8rem;
    background-color: $muted-green;
}

.waypoint {
    width: 1.2rem; 
    height: 1.2rem;
    margin-right: 0.5rem;
}

.location h3 {
    font-size: 1.2rem;
    font-family: $text-font;
    font-weight: lighter;
    color: #FFF;
    margin: 0%;
}

.tags {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
    background-color: $muted-green;
}

.tags div {
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 3px 8px;
    margin: 5px;
}

.tags p {
    margin: 0;
    font-size: 0.8em;
    color: #FFF;
    font-weight: lighter;
}

.button-img {
    width: 25px;
    height: 25px;
}

.next-button,
.back-button  {
    position: absolute; /* This allows buttons to stay fixed inside the container */
    top: 50%; /* Align the button vertically in the middle */
    transform: translateY(-50%); /* Center the button */
    background: #FFF;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    opacity: 66%;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 10; 
}

.next-button:hover,
.back-button:hover {
    opacity: 100%;
    transition: 0.25s all ease-in-out;
}
.next-button {
    right: 10px; /* Position on the right of the container */
  }
  
  .back-button {
    left: 10px; /* Position on the left of the container */
  }

}

// Popup CSS 

.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Popup content */
  .popup-content {
    background: linear-gradient(to right, #A6A6A6, #D9D9D9);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: auto;
  }
  
  /* Close button */
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  
