@import "./variables.scss";

main{

.upcoming-events {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.event-card {
    width: 325px;
    background-color: $light-green;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    position: relative; 
}

.image-container {
    position: relative; 
}

.event {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; 
}

.time {
    position: absolute; 
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 5px 10px;
    color: #FFF; 
    z-index: 1; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 8px; 
}

.time img.clock {
    width: 16px; 
    height: 16px;
}
.date {
    display: flex;
    gap: 10px;
    align-items: center; 
}
.title {
    padding: 10px;
    background-color: $muted-green;
}

.title h2 {
    font-size: 1.5em;
    margin: 0;
}

.location {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $muted-green;
}

.location img.waypoint {
    width: 16px; 
    height: 16px;
    margin-right: 8px;
}

.location h3 {
    font-size: 1.2em;
    margin: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--accent-background-color);
}

.tags div {
    border-radius: 3px;
    border: 1px solid var(--accent-text-color);
    padding: 5px 8px;
    margin: 5px;
}

.tags p {
    margin: 0;
    font-size: 0.9em;
    color: var(--accent-text-color);
}

}