@import "./variables.scss";

main {
  overflow-x: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: clamp(1.1rem, 1.1rem + 2.5vw, 70px);
    font-weight: bold;
    letter-spacing: 0.1em;
    color: hsl(0, 100%, 99%);
  }

  p,
  li {
    line-height: 160%;
    letter-spacing: 0.05em;
    font-weight: 300;
    color: hsl(0, 5%, 95%);
    font-size: clamp(1.1rem, 1.1rem + 0.2vw, 20px);

    a {
      color: $neon-green;
    }
  }

  section {
    width: 100%;
    padding: 7em 6vw;

    div.contentContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1500px;
      margin: 0 auto;
      gap: 5vw;
    }

    h3 {
      color: $neon-green;
      font-size: calc(1rem + 0.6vw);
      font-weight: normal;
      text-transform: uppercase;
    }

    picture.backgroundImage {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 6vw;
      bottom: 14svh;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    ul {
      padding-left: 1em;
      margin-top: 0.5em;
      li {
        font-size: calc(1rem + 0.5vw);
        font-family: $text-font;
        font-weight: 400;
      }
    }

    picture.imageContainer {
      width: 50%;

      img {
        width: 100%;
        height: 100% !important;
        aspect-ratio: 8 / 7;
        object-fit: cover;
        border: hsl(222, 61%, 87%) 0.5em solid;
      }
    }

    article {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div.articleHeader {
        width: 100%;
        padding-bottom: 2em;
      }

      h2 {
        margin-bottom: 0.5em;
      }

      a.leaveSiteLink {
        width: 100%;
        border-radius: 2em;
        display: flex;
        background-color: hsl(133, 97%, 38%);
        text-align: center;
        text-decoration: none;
        transition: all 0.1s ease-in-out;
        border: solid black 2px;

        div {
          text-decoration: none;
          color: black;
          flex-basis: 85%;
          flex-grow: 1;
          padding: 0.5em;
          font-weight: 500;
        }

        img {
          aspect-ratio: 1/1;
          width: auto;
          height: 100%;
          flex-basis: 5%;
          flex-grow: 0;
          padding: 0.5em;
          background-color: white;
          border-radius: 50%;
          box-shadow: 0 0 4px white;
        }

        img.leftPointArrow {
          display: none;
        }

        img.rightPointArrow {
          display: inline-block;
          transform: rotate(180deg);
        }
      }

      a.leaveSiteLink:hover {
        background-color: hsl(133, 91%, 29%);
        transform: translateY(-4px);
        box-shadow: 0 4px 0 black;

        div {
          color: white;
        }
      }

      a.leaveSiteLink:active {
        background-color: hsl(133, 97%, 38%);
        transform: translateY(0);
        box-shadow: none;

        div {
          color: black;
        }
      }
    }
  }

  section.reversed {
    div.contentContainer {
      flex-direction: row-reverse;
    }

    a.leaveSiteLink {
      background-color: hsl(133, 97%, 38%);

      img.leftPointArrow {
        display: inline-block;
      }

      img.rightPointArrow {
        display: none;
      }
    }
  }

  section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 5%, 80%);
    content: "";
  }

  section#firstSection {
    padding-top: 4em;
  }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: calc(1rem + 3vw);
      margin: 0.2em 0;
    }
    section {
      padding: 8vh 6vw;
    }
    div.contentContainer {
      flex-direction: column-reverse !important;
      gap: 4;
      margin: 0;

      picture.imageContainer {
        width: 100%;
      }

      div.imageContainer::before {
        filter: blur(5svh);
      }

      article {
        width: 100%;

        a.leaveSiteLink {
          div {
            padding: 0.7em 0;
          }

          img {
            padding: 0.7em;
          }

          img.leftPointArrow {
            display: none !important;
          }

          img.rightPointArrow {
            display: inline-block !important;
            transform: rotate(180deg);
          }
        }

        div.articleHeader {
          padding-bottom: 2em;
        }
      }
    }

    section.reversed {
      flex-direction: column;
    }
  }
}
