main {
  overflow-x: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
main h2 {
  font-size: calc(1rem + 2.5vw);
  font-weight: bold;
  letter-spacing: 0.1em;
  color: hsl(0, 100%, 99%);
}
main p,
main li {
  line-height: 160%;
  letter-spacing: 0.05em;
  font-weight: 300;
  color: hsl(0, 5%, 95%);
  font-size: calc(1rem + 0.2vw);
}
main p a,
main li a {
  color: rgb(0, 255, 0);
}
main section {
  width: 100%;
  padding: 7em 6vw;
}
main section div.contentContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5vw;
}
main section h3 {
  color: rgb(0, 255, 0);
  font-size: calc(1rem + 0.6vw);
  font-weight: normal;
  text-transform: uppercase;
}
main section picture.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 6vw;
  bottom: 14svh;
  z-index: -1;
}
main section picture.backgroundImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section ul {
  padding-left: 1em;
  margin-top: 0.5em;
}
main section ul li {
  font-size: calc(1rem + 0.5vw);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
main section picture.imageContainer {
  width: 50%;
}
main section picture.imageContainer img {
  width: 100%;
  height: 100% !important;
  aspect-ratio: 8/7;
  -o-object-fit: cover;
     object-fit: cover;
  border: hsl(222, 61%, 87%) 0.5em solid;
}
main section article {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section article div.articleHeader {
  width: 100%;
  padding-bottom: 2em;
}
main section article h2 {
  margin-bottom: 0.5em;
}
main section article a.leaveSiteLink {
  width: 100%;
  border-radius: 2em;
  display: flex;
  background-color: hsl(133, 97%, 38%);
  text-align: center;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  border: solid black 2px;
}
main section article a.leaveSiteLink div {
  text-decoration: none;
  color: black;
  flex-basis: 85%;
  flex-grow: 1;
  padding: 0.5em;
  font-weight: 500;
}
main section article a.leaveSiteLink img {
  aspect-ratio: 1/1;
  width: auto;
  height: 100%;
  flex-basis: 5%;
  flex-grow: 0;
  padding: 0.5em;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 4px white;
}
main section article a.leaveSiteLink img.leftPointArrow {
  display: none;
}
main section article a.leaveSiteLink img.rightPointArrow {
  display: inline-block;
  transform: rotate(180deg);
}
main section article a.leaveSiteLink:hover {
  background-color: hsl(133, 91%, 29%);
  transform: translateY(-4px);
  box-shadow: 0 4px 0 black;
}
main section article a.leaveSiteLink:hover div {
  color: white;
}
main section article a.leaveSiteLink:active {
  background-color: hsl(133, 97%, 38%);
  transform: translateY(0);
  box-shadow: none;
}
main section article a.leaveSiteLink:active div {
  color: black;
}
main section.reversed div.contentContainer {
  flex-direction: row-reverse;
}
main section.reversed a.leaveSiteLink {
  background-color: hsl(133, 97%, 38%);
}
main section.reversed a.leaveSiteLink img.leftPointArrow {
  display: inline-block;
}
main section.reversed a.leaveSiteLink img.rightPointArrow {
  display: none;
}
main section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 5%, 0.7);
  content: "";
}

@media only screen and (max-width: 768px) {
  main h2 {
    font-size: calc(1rem + 3vw);
    margin: 0.2em 0;
  }
  main section {
    padding: 8vh 6vw;
  }
  main div.contentContainer {
    flex-direction: column-reverse !important;
    gap: 4;
    margin: 0;
  }
  main div.contentContainer picture.imageContainer {
    width: 100%;
  }
  main div.contentContainer div.imageContainer::before {
    filter: blur(5svh);
  }
  main div.contentContainer article {
    width: 100%;
  }
  main div.contentContainer article a.leaveSiteLink div {
    padding: 0.7em 0;
  }
  main div.contentContainer article a.leaveSiteLink img {
    padding: 0.7em;
  }
  main div.contentContainer article a.leaveSiteLink img.leftPointArrow {
    display: none !important;
  }
  main div.contentContainer article a.leaveSiteLink img.rightPointArrow {
    display: inline-block !important;
    transform: rotate(180deg);
  }
  main div.contentContainer article div.articleHeader {
    padding-bottom: 2em;
  }
  main section.reversed {
    flex-direction: column;
  }
}/*# sourceMappingURL=Robots.css.map */