//Colors and Fonts detailed in Figma style guide
$neon-green: rgb(0, 255, 0);
$muted-green: rgb(69, 139, 96);
$background-color: rgb(24, 24, 24);
$header-font: "Overpass Mono", "Courier New", monospace;
$text-font: "Outfit", Arial, sans-serif;
