# dependencies
node_modules/

# build output
dist/
.astro-cache/

# testing
coverage/

# misc
.DS_Store
*.tsbuildinfo

# package tarballs
**/*.tgz

# debug
npm-debug.log*
.pnpm-debug.log*
.pnpm-store/

# test
.test-repo/
