# build output
.astro-cache/

# copied in by the prepack script from the repo-root README
README.md

# misc
*.tsbuildinfo

# package tarballs
**/*.tgz

# debug
npm-debug.log*
.pnpm-debug.log*
.pnpm-store/

# test
.test-repo/
